<%# show article title, description %>
<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Articles", articles_path %></li>
  </ul>
</nav>
<h1>Showing Article</h1>
<p><strong>Title:</strong> <%= @article.title %></p>
<p><%= @article.description %></p>

<%# edit this article %>
<p>
    <%= link_to "Edit this Article", edit_article_path(@article) %>
</p>
<%# delete this article %>
<p>
    <%= button_to "Delete this Article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
</p>