  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <%# <a class="navbar-brand" id="logo" href="#">Alpha Blog</a> %>
    <%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <%# users %>
        <li class="nav-item">
          <%# <a class="nav-link active" aria-current="page" href="#">Users</a> %>
          <%= link_to "Bloggers", users_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%# <a class="nav-link active" aria-current="page" href="#">Articles</a> %>
          <%= link_to "Articles", articles_path, class: "nav-link active" %>
        </li>

        <% if logged_in? %>
                  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.admin? %>
            <i class="bi bi-shield-lock-fill"></i> Admin
          <% else %>
            <i class="bi bi-person-circle"></i> Profile 
          <% end %>
          </a>
          <ul class="dropdown-menu">
            <%= link_to "View Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %>
            <%= button_to "Delete Account", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item text-danger" %>
          </ul>
        </li>
          <li class="nav-item">
            <%# <a class="nav-link" href="#">Sign Up</a> %>
            <%= button_to "Logout", logout_path, class: "nav-link", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%# <a class="nav-link" href="#">Log In</a> %>
            <%= link_to "Log In", login_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%# <a class="nav-link" href="#">Sign Up</a> %>
            <%= link_to "Sign Up", signup_path, class: "nav-link" %>
          </li>
        <% end %>

        
        
        <%# link t about %>
        <li class="nav-item">
          <%# <a class="nav-link" href="#">About</a> %>
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
